@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    height: 90%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.search {
    margin-top: 15%;
}

.heading {
    font-size: 5em;
    margin-bottom: 0;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.rounded-search {
    border-radius: 0px 25px 25px 0px !important;
    border-left: none;
    margin: 0;
}

.mag {
    border-radius: 25px 0 0 25px !important;
    background: white;
    border-right: none;
}

input[type="text"]:focus {
    box-shadow: none;
    border-color: rgb(205, 212, 219);
}


.btn-primary {
    background-color: rgb(248, 249, 250);
    color: rgb(43, 44, 47);
    border-color: rgb(248, 249, 250);
}

.btn-primary:hover {
    background-color: rgb(248, 249, 250);
    color: rgb(43, 44, 47);
    border-color: rgb(218, 220, 224);
}